.header{
    position: inherit;
    z-index: 1000;
    background-color: #ffffff;
    height: 80px;
    width: 100%; 
    padding: 0 30px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item a{
    text-decoration: none;
    list-style: none;
    color: inherit;
    outline: none;
}


ul li{
    margin: auto 20px;
}

nav{
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

ul li:hover, .cart-link:hover{
    color: red;
    transition: all 0.2s;
}

.cart-link{
    text-decoration: none;
    color: inherit;
}

.header-center{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: bolder;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}
.header-right{
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}


/* Panier */
shopping-cart {
    position: relative;
    display: inline-block;
    font-size: 24px; /* Ajuste la taille de l'icône */
    cursor: pointer;
}

.shopping-cart .badge {
    position: absolute;

    background-color: #dc3545;
    color: white;
    font-size: 12px;
    padding: 5px 8px;
    border-radius: 50%;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


/* Pour les petits écrans, faire en sorte que la recherche et le panier soient sous le titre */
@media (max-width: 1000px) {

    .header{
        flex-direction: column;
    }
}
